<ion-view view-title="Login" style= "background-image: url('img/Design1.jpg'); background-size: cover"> 
    <ion-header-bar align-title="left" class="bar-stable">
       
      <h1 class="title">Login</h1>
      
  </ion-header-bar>
 <!-- <ion-content class="padding" style="padding-top:50px;">
 
 john.mangcucang -->
<!--    	<img src="img/aws.png" class="iconImg">
    	<div class="spacer"></div>

    	<form>
    		<label class="item item-input">
    			<input type="text" placeholder="Username" ng-model="data.username">
    		</label>
    		<label class="item item-input">
    			<input type="password" placeholder="Password" ng-model="data.password">
    		</label>

    	</form>
		<button class="button button-positive button-block" ng-click="login(data)">Login</button>

        <p class="prompt">{{prompt}}</p>
    -->
    <!--john.mangcucang --> 
    <ion-content  class="padding" style="padding-top:50px;">



        <img src="img/aws.png" style = "display: block; width: 100%;height: auto; margin-left: auto; margin-right: auto;" class="iconImg">
        <div class="spacer"></div>

        <form name="myForm" novalidate>
         <!-- <div class="list" style="padding-top: 20px;"> -->
         <label class="item item-input">
            
            <input type = "text" name="email" placeholder="Email" ng-model="data.email" ng-minlength="4" ng-maxlength="25" required>
        </label>
        

        <label class="item item-input">
            
            <input type="password" name="password" placeholder="Password" ng-model="data.password" ng-minlength="4" ng-maxlength="25" required>
        </label>
          <button class="button button-positive button-block" ng-click="login(data)" ng-disabled="myForm.email.$error.required || myForm.email.$error.minlength || myForm.email.$error.maxlength || myForm.email.$error.pattern || myForm.password.$error.required || myForm.password.$error.minlength || myForm.password.$error.maxlength">Log In</button>


          <!--begin of validation-->
          <div class="padding" style="color: red;">
            <p>{{prompt}}</p> <!-- prompt if login was successful or failed -->
            <!-- user validation-->
            <p ng-show="myForm.$submitted && myForm.email.$error.required">* Email is required</p>
            <p ng-show="myForm.$submitted && myForm.email.$error.minlength">* Input Invalid – minimum of 4 characters required</p>
            <p ng-show="myForm.$submitted && myForm.email.$error.maxlength">* Input Invalid – maximum of 25 characters required</p>
            <p ng-show="myForm.$submitted && myForm.email.$error.pattern">* Invalid input- special characters not allowed</p>
            <!-- password validation-->
            <p ng-show="myForm.$submitted && myForm.password.$error.required">* Password is required</p>
            <p ng-show="myForm.$submitted && myForm.password.$error.minlength">* Input Invalid – minimum of 4 characters required</p>
            <p ng-show="myForm.$submitted && myForm.password.$error.maxlength">* Input Invalid – maximum of 25 characters required</p>
        </div>
        <!--end of validation-->
    </form>
</ion-content>
</ion-view>