<!-- displaying event details (added by kate)-->

<ion-view view-title = "Event Details">
  <ion-content class="padding">

    <div ng-hide="event.bitmap">
        <img ng-src="img/no_image_icon.jpg" style = "display: block; width: 100%; height: auto; margin-top: 10px">
    </div>
    <img ng-src="http://awsevent-mongodbdomain.rhcloud.com/api/containers/images/download/{{event.bitmap}}?access_token={{token}}" onerror="this.style.display='none'" style = "display: block; width: 100%; height: auto; margin-top: 10px">
    <div style="border:1px; border-style:solid; border-color:lightgray; padding: 1em; margin-bottom: 25px;">
     <p><b>Event Title:</b> {{event.name}}</p>
     <p><b>Event Date:</b> {{event.start_date}} - {{event.end_date}}</p>
     <p><b>Event Time:</b> {{event.start_time}} - {{event.end_time}}</p>
     <p><b>Event Location:</b> {{event.address}} <a href = "" ng-click="openModal(event.location,event.id)"> <i class="icon ion-map"> </i></a></p>
     <p><b>Event Description:</b><div style="text-indent: 2.0em">{{event.description}}</div></p>
   </div>

  <div ng-show = "isAdmin">
    <a ng-if = "event.status!='Done'" class = "button button-block button-positive" href="#/menu/events/update/{{event.id}}">Update</a>
    <a ng-if = "event.status!='Done'" class = "button button-block button-positive" href="#/menu/events/manage/{{event.id}}">Manage Attendees</a>
    <a type="submit" name="add_btn" class = "button button-block button-positive"  href="#/menu/events/generate/{{event.id}}" style="margin-bottom: 10px">Generate Report</a>
  </div>
</ion-content>

<script id="templates/map3.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
      <h1 class="title">Current Event location</h1>
      <button class="button button-clear button-primary" ng-click="closeModal()">Cancel</button>
    </ion-header-bar>
    <ion-content class="padding">
      <div id="map" style = "height: 100%; width: 100%; "></div>
    </ion-content>
  </ion-modal-view>
</script>

</ion-view>

