<ion-view view-title="User Profile">

	<ion-content>
		<ion-list>
			<ion-item>
				  <i class = "icon ion-android-mail" style="font-size:25px;"></i> &nbsp&nbsp&nbsp
				   <ion-input type="text">{{modl.email}}</ion-input>
			</ion-item>

			<ion-item>
					<i class = "icon ion-android-person"  style="font-size:25px;"></i> &nbsp&nbsp&nbsp
					<ion-input type="text">{{modl.name}}</ion-input>
			</ion-item>

		</ion-list>

		<ion-list>
				<ion-toggle  ng-model="settings.enableFriends">
				Enable Push Notifications?
			</ion-toggle>
		</ion-list>
		<a class = "button button-block button-positive" ng-click = openModal(user)>Edit Profile</a>
		
	</ion-content>
	 <script id="templates/profile.html" type="text/ng-template">
        <ion-modal-view style = "overflow-y: hidden;">
          <ion-header-bar class="bar bar-header bar-positive">
            <h1 class="title">Edit Profile</h1>
           
 
   <button class="button button-clear button-primary" ng-click="closeModal()">Cancel</button>
          </ion-header-bar>
          <ion-content class="padding">
            <form name="myForm" novalidate>
		<ion-list>
		
			<ion-item>
				  <i class = "icon ion-android-mail" style="font-size:20px;"> Email</i> &nbsp&nbsp&nbsp<input type="text"  ng-model="user.email" name="email" ng-maxlength="30">  
			</ion-item>
			<ion-item>
					<i class = "icon ion-android-person"  style="font-size:20px;"> Name</i> 
					&nbsp&nbsp&nbsp<input type="text" ng-model="user.name" name="name" ng-minlength="5">		
			</ion-item> 
		</ion-list>
		<ion-list>	
			<button class="button button-calm button-clear" ng-click="showPopup(user)">&nbsp&nbspChange Password?</button>		
		</ion-list>		
		<ion-list>
				<ion-toggle  ng-model="settings.enableFriends">
				Enable Push Notifications?
			</ion-toggle>
		</ion-list>		
		<button class="button button-positive button-block" ng-click="saveProfile(user)">Save</button>	
		 <div class="padding" style="color: red;">
            <p ng-show="myForm.email.$invalid">* Email is invalid</p>
            <p ng-show="myForm.email.$error.maxlength">* Email must not be longer than 30 characters</p>
            <p ng-show="myForm.name.$error.minlength">* Name must be longer than 5 characters</p>
            <p ng-show="myForm.password.$error.minlength">* Password must be longer than 5 characters</p>
            <p ng-show="user.confirmpass.length > 0 && user.newpass != user.confirmpass">*Password do not match</p> 
         </div>
     </form>
          </ion-content>
        </ion-modal-view>
      </script>
</ion-view>
