<!-- This is for the event page - displaying list of events (edited by kate)-->
<ion-view view-title="Event List">
  <ion-nav-buttons side="right">

    <button ng-if="isAdmin" class="button button-icon icon ion-ios-minus-outline" ng-click="data.showDelete = !data.showDelete;"></button>

  </ion-nav-buttons>

  <ion-tabs class="tabs-icon-top tabs-color-active-positive">
    <ion-tab title="On-going/Upcoming Events" on-select="showEvents1()" icon-off="ion-ios-list-outline" icon-on="ion-ios-list"></ion-tab>
    <ion-tab title="Done Events" on-select="showEvents2()" icon-off="ion-ios-list-outline" icon-on="ion-ios-list"></ion-tab>
  </ion-tabs>

  <ion-content class="padding">

    <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()">
    </ion-refresher>

    <div style="margin-bottom: 10px; margin-top: 50px">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <!-- ng-model="filter" is a buit-in model used for filtering when searching event/s-->
        <input type="search" placeholder="Search" ng-model="filter">
      </label>
      <img src="img/Capture.JPG" ng-if="events1" style="position: center; width: 100%; margin-top: 10px">
    </div>

    <!-- displaying the list of events -->
    <div style="y-overflow:scroll;">
      <ion-list ng-if="events1" show-delete="data.showDelete">
        <ion-item href="#/menu/events/{{scope.id}}" class="item-remove-animate item-avatar item-icon-right" ng-repeat="scope in events | orderBy: '[start_date,start_time]'| filter:filter"
          type="item-text-wrap" style="margin-bottom:20px">
          <img ng-if="scope.status == 'On-going'" ng-src="img/light_green.jpg">
          <img ng-if="scope.status == 'Upcoming'" ng-src="img/light_blue.jpg">
          <img ng-if="scope.status == 'Today'" ng-src="img/today.jpg">
          <h2><b>{{scope.name}}</b></h2>
          <p>{{scope.description}}</p>
          <p>{{scope.start_date}} to {{scope.end_date}}</p>
          <p style="">Status: {{scope.status}}
            <font style="color: transparent; font-size: 10%;"> {{scope.date}} {{scope.location}} {{scope.start_date}} {{scope.end_date}}</font>
          </p>
          <a href="#/menu/events/{{scope.id}}"><i class="icon ion-chevron-right ion-more" ></i></a>
          <ion-delete-button class="ion-minus-circled" ng-click="onItemDelete(scope)"></ion-delete-button>
        </ion-item>
      </ion-list>

      <ion-list ng-if="events2" show-delete="data.showDelete">
        <ion-item href="#/menu/events/{{scope.id}}" class="item-remove-animate item-avatar item-icon-right" ng-repeat="scope in doneEvents | orderBy: 'start_date'| filter:filter"
          type="item-text-wrap" style="margin-bottom:20px">
          <img ng-src="img/grey.png">
          <h2><b>{{scope.name}}</b></h2>
          <p>{{scope.description}}</p>
          <p>{{scope.start_date}} to {{scope.end_date}}</p>
          <p style="">Status: {{scope.status}}
            <font style="color: transparent; font-size: 10%;"> {{scope.date}} {{scope.location}} {{scope.start_date}} {{scope.end_date}}</font>
          </p>
          <a href="#/menu/events/{{scope.id}}"><i class="icon ion-chevron-right ion-more" ></i></a>
          <ion-delete-button class="ion-minus-circled" ng-click="onItemDelete(scope)"></ion-delete-button>
        </ion-item>
      </ion-list>


    </div>

  </ion-content>

  <ion-floating-button ng-if="isAdmin" click="addEvents()" has-footer="false" button-color="#4a87ee" icon="ion-plus" icon-color="#fff">
  </ion-floating-button>

</ion-view>