
 <ion-view>
   <ion-nav-title>Manage Attendees</ion-nav-title>
   <ion-content class="padding">
    <ion-item>
      <a class = "button button-positive" style = "width:45%;margin-left: 1px;float:left;"  ng-click="updateAttendee(event.id, event.name)">Save</a>
      <a class = "button button-positive" style = "width:45%;margin-right: 1px;float:right;padding: 2px;" ng-click="openModal()">Add Attendees</a>
    </ion-item>
    <label><b>Current Attendees: ({{newAttendee.length}})</b></label>
    <ion-list>
      <ion-item class="item-icon-right" ng-repeat="scope in newAttendee" type="item-text-wrap">
        <h2><b>{{scope.name}}</b></h2>
        <a href="" ng-click="removeAttendee(scope.userId)"><i class="icon ion-chevron-right ion-minus-circled" ></i></a>
        <ion-delete-button class="ion-minus-circled" ng-click="removeAttendee(scope.id)"></ion-delete-button>
      </ion-item>
    </ion-list>
  </ion-content>

  <script id="my-modal.html" type="text/ng-template">
    <ion-modal-view view-title="User List">
      <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">Add Event Attendees</h1>
        <button class="button button-clear button-primary" ng-click="closeModal()">Cancel</button>
      </ion-header-bar>
      <ion-content class="padding">
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()">
        </ion-refresher>
        <div ng-if="individual">
          <ion-item>
            <ion-checkbox style = "width:58%;float:left;" type="checkbox" ng-click="checkAll(usersIndividual)" ng-model="checkUser">Select all</ion-checkbox>
            <select style = "height:56px;width:40%; float:right;" ng-change="selectFilter(filters)" ng-model="filters">
              <option selected="selected" value="individual">Individual</option>
              <option value="group">Group</option>
            </select> 
          </ion-item>


          <div style= "margin-bottom: 15px; margin-top: 10px">
            <label class="item item-input">
              <i class="icon ion-search placeholder-icon"></i>
              <!-- ng-model="filter" is a buit-in model used for filtering when searching event/s-->
              <input type="search" placeholder="Search" ng-model="filter">
            </label>
          </div>

          <div  style = "height: 5px;" ng-if="individual">
            <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="scope in usersIndividual | orderBy: 'name'| filter:filter" type="item-text-wrap">
              <label>
                <input type = "checkbox"  ng-checked="v" type="checkbox" ng-model="scope.selected" ng-true-value="1" ng-false-value="2"/> <b>{{scope.name}}</b></label>
              </ion-item>
            </div>
          </div>

          <div ng-if="group">
            <ion-item>
              <ion-checkbox style = "width:58%;float:left;" type="checkbox" ng-click="checkAll2(usersGroup)" ng-model="checkUser">Select all</ion-checkbox>
              <select style = "height:56px;width:40%; float:right;" ng-change="selectFilter(filters)" ng-model="filters">
                <option value="individual">Individual</option>
                <option value="selected">Group</option>
              </select> 
            </ion-item>



            <div style= "margin-bottom: 15px; margin-top: 10px">
              <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <!-- ng-model="filter" is a buit-in model used for filtering when searching event/s-->
                <input type="search" placeholder="Search" ng-model="filter">
              </label>
            </div>

            <ion-list>
              <div ng-repeat="group in usersGroup | orderBy: 'name'| filter:filter">
                <ion-item class="item-stable"  ng-class="{active: isGroupShown(group)}">
                  <i ng-click="toggleGroup(group)" class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
                  &nbsp;
                  {{group.name}}
                  <input ng-checked="group.id" ng-model="group.id" type="checkbox" ng-click="checkAll3(group.name, group.id, usersGroup)" />
                </ion-item>

                <ion-item class="item-accordion" ng-repeat="item in group.members" ng-show="isGroupShown(group)">
                  <ion-checkbox  ng-checked="v[group.id]" type="checkbox" ng-model="item.selected" ng-true-value="1" ng-false-value="2">{{item.member_name}}</ion-checkbox>
                </ion-item>
              </div>
            </ion-list>
          </div>
        </ion-content>
        <ion-floating-button ng-if="group" click="check2(usersGroup)" has-footer="false">
        </ion-floating-button>

        <ion-floating-button ng-if="individual" click="check(usersIndividual)" has-footer="false" button-color="#4a87ee"> Add Attendees
        </ion-floating-button>
      </ion-modal-view>
    </script>
  </ion-view>
