<ion-view view-title="Generate Report">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/lib/w3.css">
  <link rel="stylesheet" href="/lib/w3-theme-red.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <body style="max-width:600px">

    <header class="w3-container w3-card-4 w3-theme">
      <h1>
        <i class="w3-opennav fa fa-bars" onclick="w3_open()"></i>
        Summary
      </h1>
    </header>

    <ion-content class="padding">
      <div style="border:1px; border-style:solid; border-color:lightgray; padding: 1em; margin-bottom: 25px;">
        <p><b>Event Title      :</b> {{event.name}}</p>
        <p><b>Event Date       :</b> {{event.start_date}} - {{event.end_date}}</p>
        <p><b>Event Time       :</b> {{event.start_time}} - {{event.end_time}}</p>
        <p><b>Event Location   :</b> {{event.address}} </p>
        <p><b>Event Description:</b><div style="text-indent: 2.0em">{{event.description}}</div></p>
      </div>


      <div style="border:1px; border-style:solid; border-color:lightgray; padding: 1em; margin-bottom: 25px;">
        <p><b>Individuals Attended     :</b> {{origAttendee.length}}</p>
      </div>

      <div style="border:1px; border-style:solid; border-color:lightgray; padding: 1em; margin-bottom: 25px;">
        <p><b>Indivduals Invited:</b></p>
        <ion-list>
          <ion-item class="item-icon-right" ng-repeat="scope in origAttendee" type="item-text-wrap">
            <b>{{scope.name}}</b>
          </ion-item>
        </ion-list>
        <br>
         <p><b>Individuals Attended:</b></p>
      </div>


      <div style="border:1px; border-style:solid; border-color:lightgray; padding: 1em; margin-bottom: 25px;">
        <p><b>Groups Invited:</b></p>
        <ion-list>
          <ion-item class="item-icon-right" ng-repeat="scope in invitedGroups" type="item-text-wrap">
            <b>{{scope.name}}</b>
          </ion-item>
        </ion-list>
      </div>

    </ion-content>


    
    
    



  </ion-view>