
<!-- This is for the event page - displaying list of events (edited by kate)-->
<ion-view view-title="Activity Logs">


	<ion-content class="padding" style = "margin-bottom:30px">

		<!-- displaying the list of events -->
		<ion-list>
			<ion-item  class="item-remove-animate item-avatar item-icon-right" ng-repeat="scope in logs" type="item-text-wrap" style = "margin-bottom:20px" >
				<h2><b>{{scope.eventName}}</b></h2>
				<p style = "font-weight:normal"><font>{{scope.userName}}</font> <font>{{scope.name}}</font></p>
				<p style = "font-weight:normal" ng-bind="scope.date |  date:'yyyy/MM/dd h:mma'">{{scope.date}}</p>
			</ion-item>
			<ion-infinite-scroll distance="2" on-infinite="loadMoreData()" ng-if="!moredata"></ion-infinite-scroll>
		</ion-list>
	</ion-content>


</ion-view>
