<!-- This is for the event page
     this could be list of events 
     and the details itself
 -->
 <ion-view>
 	<ion-nav-title>{{event.name}}</ion-nav-title>
 	<ion-nav-bar class="bar-stable nav-title-slide-ios7">
 		 <ion-nav-buttons side="left"><button ng-click="askConfirm()" class="button button-icon icon ion-ios-arrow-back"></button></ion-nav-buttons>
 	</ion-nav-bar>
 	<ion-content ng-controller="TimeDatePickerCtrl">
 		<form name="myForm" novalidate class="padding">
 			<div class="list" style="padding-top: 20px;">
 				<input type="hidden" ng-model = "event.id">
 				
 				<div ng-controller="UploadCtrl" style="margin-bottom: 10px;">
 					<div id="preview" ng-show="event.bitmap">
 						<img ng-src="http://awsevent-mongodbdomain.rhcloud.com/api/containers/images/download/{{event.bitmap}}" onerror="this.style.display='none'" ng-hide="picFile" style = "display: block; width: 100%; height: auto; margin-top: 10px">	
 						<button ng-controller="EventUpdateCtrl" ng-click="removePic()" ng-hide="picFile" style="width: 100%">Remove</button>
 					</div>
 					<img ng-show="myForm.file.$valid" ngf-src="picFile" style="width: 100%; height: width;">
 					<button ng-click="picFile = null" ng-show="picFile" style="width: 100%">Remove</button>
 					<input type="file" name="file" accept="image/*" ngf-select ng-model="picFile" ngf-max-size="2MB" required
 					ngf-model-invalid="errorFile" style="display: inline-flex; width: 60%; font-size: 100%">
 					<i ng-show="myForm.file.$error.maxSize">File too large {{errorFile.size / 1000000|number:1}}MB: max 2M</i>
 					<button ng-disabled="!myForm.file.$valid" class="button button-small button-positive " ng-click="uploadPic(picFile)" style="float: right; width: 40%">Upload</button>
 				</div>

 				<div class="item item-input" style="margin-top: 5px">
 					<textarea rows="3" cols="10" type="text" id="eventtitle" name="eventtitle" placeholder={{event.name}} ng-model="event.newname" ng-minlength="4" ng-maxlength="55" required></textarea>
 				</div>

 				<div class="padding" style="color: red;">
 					<p ng-show="myForm.eventtitle.$error.minlength">* Minimum number of characters is 4</p>
 					<p ng-show="myForm.eventtitle.$error.maxlength">* Invalid Input-maximum number of characters is 55</p>
 				</div>

 				<div class="item item-input" style="width:50%; float:left; padding: 10px; height: 50px;">
 					<input type="text" id="datestart" name="datestart" ng-model="event.newstart_date" placeholder="{{event.start_date}}"  required readonly/>
 					<a class="button button-icon icon ion-ios-calendar-outline" ng-click="openDatePicker1()" ng-disabled=" myForm.eventtitle.$error.maxlength || myForm.eventtitle.$error.minlength" required></a>
 				</div>

 				<div class="item item-input" style="width:50%; padding: 10px; height: 50px;">
 					<input type="text" id="dateend" name="dateend" ng-model="event.newend_date" placeholder="{{event.end_date}}" required readonly/>
 					<a class="button button-icon icon ion-ios-calendar-outline" ng-click="openDatePicker2()" ng-disabled=" myForm.eventtitle.$error.maxlength || myForm.eventtitle.$error.minlength" required></a>
 				</div>

 				<div class="padding" style="color: red;">
 					<p ng-show="myForm.datestart.$dirty && myForm.datestart.$error.dateStartError">* Start date invalid</p>
 					<p ng-show="myForm.dateend.$dirty && myForm.dateend.$error.dateEndError">* End date invalid</p>
 				</div>
 				
 				<div class="item item-input" style="width:50%; float:left; padding: 10px; height: 50px;">
 					<input type="text" id="timestart" name="timestart" placeholder="{{event.start_time}}" ng-model="event.newstart_time" required readonly/>
 					<a class="button button-icon icon ion-ios-clock-outline" id="timestartbutton" ng-click="openTimePicker1()" ng-disabled="  myForm.eventtitle.$error.maxlength || myForm.eventtitle.$error.minlength || myForm.datestart.$dirty && myForm.datestart.$error.dateStartError || myForm.dateend.$dirty && myForm.dateend.$error.dateEndError" required></a>
 				</div>

 				<div class="item item-input" style="width:50%; padding: 10px; height: 50px;">
 					<input type="text" id="timeend" name="timeend" placeholder="{{event.end_time}}" ng-model="event.newend_time" required readonly/>
 					<a class="button button-icon icon ion-ios-clock-outline" id="timeendbutton" ng-click="openTimePicker2()" ng-disabled="myForm.eventtitle.$error.maxlength || myForm.eventtitle.$error.minlength || myForm.datestart.$dirty && myForm.datestart.$error.dateStartError || myForm.dateend.$dirty && myForm.dateend.$error.dateEndError" required></a>
 				</div>

 				<div class="padding" style="color: red;">
 					<p ng-show="myForm.timestart.$dirty && myForm.timestart.$error.timeStartError">* Time set is invalid</p>
 					<p ng-show="myForm.timeend.$dirty && myForm.timeend.$error.timeEndError">* Time set is invalid</p>
 				</div>

 			</div>

 			<div class="item item-input">
 				<input type="text" ng-controller = "EventUpdateCtrl" name="address" placeholder="{{event.address}}" ng-model="event.address" required readonly/>
 				<input type="hidden" ng-controller = "EventUpdateCtrl" name="location" ng-model="event.location" required>
 				<a class="button icon ion-map" ng-click="editLocation(event.location,event.address)"> Get Location</a>
 			</div>

 			<div class="item item-input">
 				<textarea rows="5" cols="5" type="text" name="description" placeholder="{{event.description}}" ng-model="event.newdescription" ng-minlength="4" ng-maxlength="100" required></textarea>
 			</div>

 			<div class="padding" style="color: red;">
 				<p ng-show="myForm.description.$error.minlength">* Minimum of 4 characters required</p> 
 				<p ng-show="myForm.description.$error.maxlength">* Input Invalid – maximum of 100 characters required</p>
 			</div>


 			<div class="padding">
 				<button class="button button-positive button-block" ng-click="UpdateItem(event)" ng-disabled="myForm.eventtitle.$error.minlength || myForm.eventtitle.$error.maxlength || myForm.datestart.$dirty && myForm.datestart.$error.dateStartError || myForm.dateend.$dirty && myForm.dateend.$error.dateEndError || myForm.timestart.$dirty && myForm.timestart.$error.timeStartError || myForm.timeend.$dirty && myForm.timeend.$error.timeEndError || myForm.description.$error.minlength || myForm.description.$error.maxlength">Update Event</button>
 			</div>

 		</form>
 	</ion-content>
 	<script id="templates/map.html" type="text/ng-template">
 		<ion-modal-view style = "overflow-y: hidden;">
 			<ion-header-bar class="bar bar-header bar-positive">
 				<h1 class="title">Pick up location</h1>
 				<button class="button button-clear button-primary" ng-click="closeModal()">Cancel</button>
 			</ion-header-bar>
 			<ion-content class="padding">
 				<input type="text" class = "controls" placeholder="Search" id = "pac" style="width: 100%;" >
 				<div id="map_canvas1" style = "height: 100%;z-index: -999; width: 100%; "></div>
 			</ion-content>
 		</ion-modal-view>
 	</script>

 </ion-view>

