<!--
Create menu with an icon and label.
Each menu's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->

<ion-side-menus enable-menu-with-back-views="false" color = "primary">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menu-content"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <a><h1 class="title">Aws Events</h1></a>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close  href="#/menu/invited-events">
          <i class = "icon ion-calendar"></i> Invited Events
        </ion-item>
        <ion-item id="test" ng-if = "isAdmin" menu-close  href="#/menu/events">
          <i class = "icon ion-android-calendar"></i> Created Events
        </ion-item>
        <ion-item  menu-close href="#/menu/profile">
          <i class = "icon ion-android-person"></i> User Profile
        </ion-item>
        <ion-item   ng-if = "isAdmin" menu-close href="#/menu/activity">
          <i class = "icon ion-android-list"></i> Activity Logs
        </ion-item>
        <ion-item menu-close  ng-click = "logout()">
          <i class = "icon ion-android-exit"></i> Logout
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
